.Login {
    margin: 12rem 0 -2rem;
    position: relative;
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    background-color: #fff;
}
.Login__form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    margin: 5rem;
}

.title {
    margin: 2rem 1rem;
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.subtitle {
    margin: 0 1rem ;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

