.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    background-color: royalblue;
    width: 100vw;
    min-height: 15rem; 
}

.header__container {
    display: grid;
    justify-content: start;
    margin: 1rem 1rem 6rem 1rem;
    width: 70vw;
}



.header__template {
    display: grid;
    font-size: 1.4rem;
    grid-gap: 1em;
    justify-content: start;
    grid-template-columns: 1fr 4fr 4fr 20fr 2fr 3fr 2fr;
    grid-template-rows: 2em 2em;
    grid-template-areas:
        'curr city sell sell sell . . '
        'burger logo search search search sign basket';
    align-items: center;

}




