.header__container {
    display: grid;
    justify-content: start;
    margin: 1rem;
    width: 70vw;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    background-color: royalblue;
    width: 100vw;
    min-height: 20vh;
    
}

.currency {
    grid-area: curr;
    
   
}

.currency:hover .currency__block {display: flex;}

.currency__word {
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
   
}

.currency__title {
    margin: 0.7rem;
    font-size: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    cursor:default;
}

.currency__block {
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    top: 4rem   ;
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    z-index: 100;
    border: black solid 1px;
}

.currency__item {
    
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.currency__item:hover {
    background-color: bisque;
}

.currency__item:last-child {
    border-radius: 0 0 1rem 1rem;
}

.city {
    display: flex;
    justify-content: center;
    grid-area: city;
    cursor: pointer;
    font-family: 'Titan One', cursive;
}

.sell {
    grid-area: sell;
    font-family: 'Titan One', cursive;
}

.burger {
    grid-area: burger;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.logo {
    align-self: center;
    grid-area: logo;
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    font-family: 'Titan One', cursive;
}

.input {
    height: 3em;
    grid-area: input;
    width: 90%;
}

.sign {
    grid-area: sign;
    text-decoration: none;
    color: #fff;
}

.basket {
    grid-area: basket;
    text-decoration: none;
    color: #fff;
}


.header__template {
    display: grid;
    font-size: 1.4rem;
    grid-gap: 1em;
    justify-content: start;
    grid-template-columns: 1fr 4fr 4fr 20fr 2fr 3fr 2fr;
    grid-template-rows: 2em 2em;
    grid-template-areas:
        'curr city sell . . . . '
        'burger logo input input input sign basket';
    align-items: center;

}

.header__item {
    color: #fff;
    font-family: 'Titan One', cursive;
    font-size: 1.4rem;
}

.bottom__white {
    position: relative;
    left: -0.4rem;
    background-color: #fff;
    border-radius: 2rem 2rem 0 0;
    height: 5vh;
    width: 99.9vw;
}



