.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(217deg, rgba(47, 4, 236, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(204, 0, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(47, 4, 236, 0.8), rgba(0, 0, 255, 0) 70.71%);
    width: 100vw;
    min-height: 15rem; 
    font-size: 1.6rem;
    
}

.header__container {
    display: grid;
    justify-content: start;
    margin: 1rem 1rem 6rem 1rem;
    min-width: 50vw;
    max-width: 70vw;
}



.header__template {
    display: grid;
    
    grid-gap: 1rem;
    justify-content: start;
    grid-template-columns: 4vw 16vw 30vw 7vw 7vw;
    grid-template-rows: 2em 2em;
    grid-template-areas:
        'curr city sell  . . '
        'burger logo search  sign basket';
    align-items: center;

}




