.sell {
    grid-area: sell;
    min-width: 20vw;
    color: #fff;
    font-family: 'Titan One', cursive;
    text-decoration: none;
    display: block;
}

h3 {
    font-size: 2rem;
}

@media (max-width: 901px) {
    .sell {
        display: none;
    }
}