.PopUp {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 100;
}

.PopUp.active {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

body .lock {
    overflow: hidden;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
