.PopUp {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: -100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;
  transition: 0.25s;
}

.PopUp.active {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  left: 0;
  transition: 0.5s;
}

body .lock {
  overflow: hidden;
}

.PopUp.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  transition: 0.5s;
}
