.container {
    position:relative;
    overflow:hidden;
    z-index: 10;
}
.first {
    font-size: 1.4rem;;
    position:absolute;
    top:0px;
}

.second {
    color:#eee;
    font-size:12px;
    position:absolute;
    top:14px;
}

.third {
    position:relative;
    width: 50vw;
    height: 50vh;
    border-radius: 2rem;
    
}