.prodIdPage {
	position: relative;
    display: grid;
    grid-template-columns: 15vw 30vw auto 15vw 15vw;
	grid-template-rows: 6rem max-content 10rem;
	grid-template-areas: 
	'. prodId__title prodId__title prodId__title .' 
	'. photo__box prodId__descr prodId__buyProd .'
	'. photo__box prodId__descr prodId__buyProd .'
	;
	grid-gap: 2rem;
    margin: 12rem 0 -2rem;
	width: 100vw;
    min-height: 100vh;
    border-radius: 2rem;
    background-color: #fff;
    box-sizing: border-box;      
}

.prodId__title {
	grid-area: prodId__title;
}

.photo__box {
	grid-area: photo__box;
	display: flex;
	align-items: center;
	width: 100%;
}

.photo__arr {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin-right: 0.5rem;
}

.photo__arr img {
	display: block;
	min-width: 3rem;
	max-width: 3vw;
	margin: 1rem;
}

.current__photo {
    display: flex;
    justify-content: start;
    align-items: center;
	border-radius: 2rem;
	width: 100%;
	height: 100%;
    overflow: hidden
}

.current__photo_container {
	display: flex;
    justify-content: start;
	position: relative;
    width: 0;
    transition: all 1s;
}

.current__photo_container img {
    width: 20rem; 
	margin-right: 2rem;
}

.first_img {
    left: 0rem;
}

.second_img {
    left: -22rem;
}
.third_img {
    left: -44rem;
}
.forth_img {
    left: -66rem;
}
.fifth_img {
    left: -88rem;
}
.description {
	grid-area: prodId__descr;
	width:100%;
	height: 100%;
}

.purchase {
	grid-area: prodId__buyProd;
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 2rem;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 12rem;
	padding: 1rem;
}

.prices {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2rem;
	margin-right: 15vw;
}

.price {
	margin: 0 0.5rem 0 1rem;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: 200;
	font-size: 2rem;
}

.sale {
	font-size: 1.5rem;
	display: block;
	color: gainsboro;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: 200;
	text-decoration: line-through;
}

@media (max-width: 1075px) {
	
}
