.MyInput {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    min-width: 20em;
    height: 2em;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 1em;
    padding: 0 1rem 0 1rem;
}

.MyInput::placeholder {
    color: #fff;;
}

