.logo {
    align-self: center;
    grid-area: logo;
    text-decoration: none;
    color: #fff;
    font-family: 'Titan One', cursive;
}

.header__item {
    color: #fff;
    font-family: 'Titan One', cursive;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}