.city {
	grid-area: city;
	display: flex;
	justify-content: center;
	cursor: pointer;
	color: #fff;
    font-size: 2rem;
	font-family: "Titan One", cursive;
	text-decoration: none;
}

.PopUpContentCent {
	min-width: 33vw;
	min-height: 33vh;
	border-radius: 2rem;
}

@media (max-width: 901px) {
	.city {
		display: none;
	}
}
