.city {
    display: flex;
    justify-content: center;
    grid-area: city;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;

}
