.Cart {
   position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 12rem 0 -2rem;
    min-height: 100vh;
    border-radius: 2rem;
    background-color: #fff;
    box-sizing: border-box;   
}

.title {
    margin: 1rem 0 ;
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.subtitle {
    margin: 1rem 0;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link {
    font-size: 1.2rem;
    background-color: cornflowerblue;
    border-radius: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

.prod__list {
    margin: 10rem 0 0 0 ;
    display: flex;
    width: 70vw;
    min-height: 50vh;
    justify-content: center;
    flex-wrap: wrap;
    
}

.emptyCart {
    margin: 0 0 10rem 1rem;
}

.cart__title {
    font-size: 2rem;
    font-family: 'Titan One', cursive;
    margin: 2rem ;
    color: #000;
}

.cart__item {
    display: flex;
    border-radius: 2rem;
    height: 8rem;
    width: 70vw;
    font-size: 1.4rem;
    margin: 1rem;
    cursor: pointer;
}

.cart__item:last-child {
    margin-bottom: 100rem;
}

.cart__image {
    border-radius: 0.7rem;
    background: linear-gradient(217deg, rgba(47, 4, 236, 0.8), rgba(255, 0, 0, 0) 70.71%),
            linear-gradient(336deg, rgba(204, 0, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
            linear-gradient(127deg, rgba(47, 4, 236, 0.8), rgba(0, 0, 255, 0) 70.71%);
    width: 7rem;
    height: 7rem;
    margin-right: 1rem;
    
}

.cart__price {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

.cart__sale {
    display: block;
    color: gainsboro;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    
    text-decoration: line-through;
}

.cart__name {
    display: block;
    width: 40rem;
    color: #555;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.prod__item {
    display: grid;
    grid-template-columns: repeat(3, 1rf);
    grid-template-rows: 10rem 2rem 2rem;
    grid-template-areas:
        'img img img'
        'pr sl sl'
        'name name name';
    border-radius: 2rem;
    height: 14rem;
    width: 10rem;
    font-size: 1.4rem;
    margin: 1rem;
    cursor: pointer;
}

.space {
    height: 10rem;
}