.sign {
    grid-area: sign;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Titan One', cursive;
}

@media (max-width: 901px) {
    .sign {
        display: none;
    }
}