.prods {
	width: 70%;
}

.prods__list {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15vw, 20rem));
	grid-column-gap: 2rem;
	grid-row-gap: 0;
	justify-content: center;
	min-height: 50vh;
	padding: 0;
	box-sizing: border-box;
    list-style-type: none;
}

.prods__title {
	font-size: 2rem;
	font-family: "Titan One", cursive;
	cursor: default;
}

.prod__item {
	display: grid;
	grid-template-columns: repeat(5fr, 2fr, 3fr);
	grid-template-rows: 16fr 4fr 4fr;
	grid-template-areas:
		"img img img"
		"pr sl sl"
		"name name name";
	gap: auto;
	border-radius: 2rem;
	padding: 1rem;
	min-height: 30vh;
	min-width: 10rem;
	width: max-content;
	max-width: 14rem;
	cursor: pointer;
}
.prod__item:hover {
	box-shadow: inset 0 0 3px 3px #c7c0c0;
}

.prod__image {
	grid-area: img;
	border-radius: 0.7rem;
	width: 70%;
	height: 70%;
	padding: 1rem;
	object-fit: cover;
	align-self: center;
	justify-self: center;
}

.price {
	grid-area: pr;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: 700;
	font-size: 2rem;
}

.sale {
	grid-area: sl;
	color: #aaa;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: 200;
	font-size: 2rem;
	text-decoration: line-through;
}

.name {
	grid-area: name;
	color: #555;
	font-size: 2rem;
	font-family: Georgia, "Times New Roman", Times, serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
