.currency {
    grid-area: curr;
}

.currency:hover .currency__block {
    display: flex;
}

.currency__word {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Titan One', cursive;
    cursor: pointer;

}

.currency__title {
    color: rgb(85, 84, 84);
    margin: 0.7rem;
    font-size: 1rem;
    font-family: 'Titan One', cursive;
    font-weight: 200;
    cursor: default;
}

.currency__block {
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    top: 4rem;
    width: 15rem;
    height: auto;
    border-radius: 1rem;
    z-index: 100;
    border: black solid 1px;
}

.currency__item {
    color: rgb(85, 84, 84);
    font-size: 1.2rem;
    font-family: 'Titan One', cursive;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.currency__item:hover {
    background-color: rgba(62, 62, 212, 0.3);
}

.currency__item:last-child {
    border-radius: 0 0 1rem 1rem;
}

.header__item {
    color: #fff;
    font-family: 'Titan One', cursive;
    font-size: 1.4rem;
    text-decoration: none;
}