body {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.header__container {
    display: grid;
    justify-content: start;
    margin: 1rem 10vw 1rem 10vw;
    width: 80vw;

}

.header {
    position: absolute;
    left: 0;
    top: 0;
    background-color: royalblue;
    width: 100vw;
    height: 20vh;
}

.inf1 {
    grid-area: inf1;
    background-color: red;
    color: brown;
}

.inf2 {
    grid-area: inf2;
}

.inf3 {
    grid-area: inf3;
}

.inf4 {
    grid-area: inf4;
}

.burger {
    grid-area: burger;
}

.logo {
    align-self: center;
    grid-area: logo;
}

.input {
    height: 3em;
    grid-area: input;
    width: 90%;
}

.adress {
    grid-area: adress;
}

.sign {
    grid-area: sign;
}

.basket {
    grid-area: basket;
}


.header__template {
    display: grid;
    font-size: 1.4rem;
    grid-gap: 1em;
    justify-content: start;
    grid-template-columns: 1fr 4fr 4fr 20fr 2fr 3fr 2fr;
    grid-template-rows: 2em 2em;
    grid-template-areas: 
    'inf1 inf2 inf3 inf4 . . . '
    'burger logo input input adress sign basket';
    align-items: center;

}

.header__item {
    border: 1px solid blue;
}
 
.slider__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2em;
    height: 40vh;
    width: 98.8vw;
}

.slider {
    background-color: red;
    width: 70vw;
    height: 45vh;
    border-radius: 3rem;
    margin-top: 3rem;
    
}


.dots {
    display: grid;
    justify-content: center;
    grid-template-columns: 1rem 1rem;
    grid-gap: .7rem;
    margin-top: 1rem;
}
      
.dot {
    border-radius: 50%;
    background-color: blue;
    height: 1rem;
    width: 1rem;
}

.space {
    height: 60vh;
    width: 100vw;
}
.prod__list {
    margin: auto;
    display: flex;
    width: 70vw;
    height: 50vh;
    justify-content: center;
    
    flex-wrap: wrap;
    
}

.prod__item {
    display: grid;
    grid-template-columns: repeat(3, 1rf);
    grid-template-rows: 10rem 2rem 2rem;
    grid-template-areas: 
    'img img img'
    'pr sl sl'
    'descr descr descr';
    border-radius: 2rem;
    height: 14rem;
    width: 10rem;
    font-size: 1.4rem;
    margin: 1rem;
}

.image {
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    background-color: cornflowerblue;
    width: 100%;
    grid-area: img;
}

.price {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    grid-area: pr;
    
}

.sale {
    display: block;
    color: gainsboro;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    grid-area: sl;
    text-decoration: line-through;
}

.description {
    display: block;
    color: gainsboro;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-area: descr;
}

.reccomend__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto 2rem auto;
    width: 70vw;
    height: 26vh;
   
}

.reccomend {
    display: block;
    border-radius: 3rem;
    background-color: rgb(105, 95, 95);
    height: 25vh;
    width: 34vw;
}




.footer__bg {
    display: grid;
    grid-template-columns: 1px 70vh;
    justify-content: start;
    width: 100%;
    height: 60vh;
    margin-top: 0;
    background-color: cornflowerblue;
}

.footer__box {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-top: 4rem;
}
