.MyBtn {
    background: linear-gradient(217deg, rgba(47, 4, 236, 0.8), rgba(255, 0, 0, 0) 70.71%),
            linear-gradient(336deg, rgba(204, 0, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
            linear-gradient(127deg, rgba(47, 4, 236, 0.8), rgba(0, 0, 255, 0) 70.71%);
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    min-width: 6em;
    height: 2em;
    border-radius: 10px;
    border: none;
    margin: 1em;
    cursor: pointer;
}